
.img-zoom-container {
    position: relative;
    cursor: none;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 180px;
    height: 120px;
}

.img-zoom-result {
    border: 1px solid black;
}

.productView{
    margin-top: 125px;
}