.spacer{
    height: 75px;
}


.model-link-from-gallery{
    margin-bottom: 15px;
}

.model-link-from-gallery:hover{
    box-shadow: 1px 1px 15px rgba(0,0,0,.9);
    text-decoration: none;
}


.model-details{
    color: black;
}

@media only screen and (min-width: 767px)  {
    .model-details{
        margin-top: 50px;
    }
}

.model-details:hover{
    color: black;
}

