/*Navigation*/

.responsive-nav {
    z-index: 1030;
    font-size: 1rem;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
}

.logo {
    max-height: 50px;
    margin: 20px 0 5px 20px;
}

.links {
    margin-right: 20px;
    color: white;
}

.links:hover {
    text-decoration: none;
    color: grey;
}

.nav-space {
    margin-left: 50px;
}

.top-link-social {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.top-link-social:hover {
    color: white
}

.top-link:hover {
    text-decoration: none;
    color: white;
}

.nav-links-wrapper {
    margin-top: 20px;
    margin-right: 70px;
}

/*mobiel*/
.mobileNavBar{
    height: 76px;
    width: 100%;
    position: fixed;
    z-index: 1030;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.mobileLogo{
    margin-top: 15px;
    max-height: 50px;
}
.mobileNavContent{
    position: absolute;
    top: 70px;
    width: 100vw;
    background-color: black;
}

.linksMobile{
    color: white;
}
.linksMobile:hover{
    color: grey;
    text-decoration: none;
}
.listOfLinksOnMobile{
    margin-top: 20px;
}